variables:
  DOCKER_DRIVER: overlay2
  DOCKER_AUTH_CONFIG: $CI_DOCKER_AUTH_CONFIG
  NPM_REGISTRY: nexus3.tecna.pl/repository/npm-private-releases
  NPM_PROXY: nexus3.tecna.pl/repository/npm-private
  NPM_TOKEN: $TECNA_NPM_TOKEN
  GROUP_NAME: $CI_PROJECT_NAMESPACE
  APP_NAME: $CI_PROJECT_NAME
  SERVICE_NAME: $CI_PROJECT_NAME
  UPSTREAM_REPO: $DOCKER_PROXY_URL
  DOWNSTREAM_REPO: $REGISTRY_URL
  UPSTREAM_REPO_USER: $NEXUS_USER
  UPSTREAM_REPO_PASSWORD: $NEXUS_PASSWORD
  VUE_FORMS_VERSION: $VUE_FORMS_VERSION

stages:
  - update_forms
  - publish


update_vue_forms:
  image: docker.tecna.pl/node:lts
  stage: update_forms
  script:
    - echo "$NPM_REGISTRY_CONFIG" > ~/.npmrc
    - npm install vue3-schema-forms@$VUE_FORMS_VERSION --registry=https://nexus3.tecna.pl/repository/npm-private
    - git config --global user.email "ci-bot@example.com"
    - git config --global user.name "CI Bot"
    - echo "https://gitlab-ci-token:${CI_JOB_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git"
    - git remote set-url origin "https://gitlab-ci-token:${CI_JOB_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git"
    - git add package.json package-lock.json
    - git commit -m "Update vue3-schema-forms to version $VUE_FORMS_VERSION [skip ci]"
    - echo "CI_COMMIT_REF_NAME=${$CI_COMMIT_REF_NAME}"
    #- git push origin HEAD:$CI_COMMIT_REF_NAME
    - git push origin HEAD:dev
  rules:
    - if: '$CI_PIPELINE_SOURCE == "pipeline" && $VUE_FORMS_VERSION'
      when: always

npm-publish:
  stage: publish
  image: docker.tecna.pl/node:lts
  script:
    - echo "$NPM_REGISTRY_CONFIG" > ~/.npmrc
    - npm run install-registry
    - npm run build
    - npm run publish:nexus --tag next
