variables:
  DOCKER_DRIVER: overlay2
  DOCKER_AUTH_CONFIG: $CI_DOCKER_AUTH_CONFIG
  NPM_REGISTRY: nexus3.tecna.pl/repository/npm-private-releases
  NPM_PROXY: nexus3.tecna.pl/repository/npm-private
  NPM_TOKEN: $TECNA_NPM_TOKEN
  GROUP_NAME: $CI_PROJECT_NAMESPACE
  APP_NAME: $CI_PROJECT_NAME
  SERVICE_NAME: $CI_PROJECT_NAME
  UPSTREAM_REPO: $DOCKER_PROXY_URL
  DOWNSTREAM_REPO: $REGISTRY_URL
  UPSTREAM_REPO_USER: $NEXUS_USER
  UPSTREAM_REPO_PASSWORD: $NEXUS_PASSWORD

stages:
  - update_forms
  - publish # no need to split it into separate stages, we can also avoid passing artifacts that way


update_vue_forms:
  image: docker.tecna.pl/node:lts
  stage: update_forms
  script:
    - npm run update-vue-forms
    - git config --global user.email "ci-bot@example.com"
    - git config --global user.name "CI Bot"
    - git add package.json package-lock.json
    - git commit -m "chore: update vue3-schema-forms to version $VUE_FORMS_VERSION [skip ci]"
    - git push origin HEAD:$CI_COMMIT_REF_NAME
  rules:
    - if: '$CI_PIPELINE_SOURCE == "pipeline" && $VUE_FORMS_VERSION'
      when: always

npm-publish:
  stage: publish
  image: docker.tecna.pl/node:lts
  script:
    - echo "$NPM_REGISTRY_CONFIG" > ~/.npmrc
    - npm run install-registry
    - npm run build
    - npm run publish:nexus --tag next
