variables:
  DOCKER_DRIVER: overlay2
  DOCKER_AUTH_CONFIG: $CI_DOCKER_AUTH_CONFIG
  NPM_REGISTRY: nexus3.tecna.pl/repository/npm-private-releases
  NPM_PROXY: nexus3.tecna.pl/repository/npm-private
  NPM_TOKEN: $TECNA_NPM_TOKEN
  GROUP_NAME: $CI_PROJECT_NAMESPACE
  APP_NAME: $CI_PROJECT_NAME
  UPSTREAM_REPO: $DOCKER_PROXY_URL
  DOWNSTREAM_REPO: $REGISTRY_URL
  UPSTREAM_REPO_USER: $NEXUS_USER
  UPSTREAM_REPO_PASSWORD: $NEXUS_PASSWORD
  VUE_FORMS_VERSION: $VUE_FORMS_VERSION

stages:
  - prepare
  - publish
  - triggers

update-aurea-forms-dep:
  stage: prepare
  image: node:lts
  rules:
    - if: '$RUN_UPDATE_FORMS == "true"'
  before_script:
    - apt-get update -qq
    - apt-get install -y jq
    - echo "$NPM_REGISTRY_CONFIG" > ~/.npmrc
  script:
    - chmod +x update-forms.sh
    - ./update-forms.sh


npm-publish:
  stage: publish
  image: docker.tecna.pl/node:lts
  script:
    - echo "$NPM_REGISTRY_CONFIG" > ~/.npmrc
    - git fetch origin master
    - git checkout master
    - git pull origin master
    - npm run install-registry
    - npm run build
    - npm run publish:nexus
    - ./get-version.sh
  artifacts:
    reports:
      dotenv: version.env




#aurea-modeler-update:
#  stage: triggers
#  trigger:
#    project: aurea/aurea-modeler
 #   branch: master
 #   strategy: depend
 # variables:
 #   UPDATED_AUREA_FORMS_BUILDER_VERSION: "$FORM_BUILDER_VERSION"
 #   UPSTREAM_PROJECT: "$CI_PROJECT_PATH"
 #   UPSTREAM_COMMIT: "$CI_COMMIT_SHA"
 #   RUN_UPDATE_FORMS: "true"
